<p>Land Generic</p>
<p>App Name: <%= @useme.name %></P>
<p>Page Name: <%= @useme.eopagcols.find(1).eopage.name %></P>
<p>Model Name: <%= @useme.eomodel.name %></P>
<p>TEST: <%= @useme.eomodel.eoobjcols.count %></P>

<% @useme.eomodel.eoobjcols.each do |oc|%>
<p>Object name: <%= oc.eoobject.name %></P>

<% oc.eoobject.eocolcols.each do |cc|%>
<% cc.eocolumn.eodatcols.each do |dat| %>
<%= dat.eostoredat.eoinput %>
<% end %>
<% end %>
<% end %>